<h1>Fridges#new</h1>

<%= form_for @Fridge do |f| %>
  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :brand %>
  <%= f.text_field :brand %>

  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.submit "Create" %>
<% end %>
